In [12]:
#string format
#static  age name salary
age1 = 31
name = 'kick '
salary = 12.5



#dynamic input
name2 = input("name2 =")

age2 = int(input("age2 "))

salary2 = float(input("salary2 ="))


#string format 
#old
print("my name is = %s ,my age is %d ,and my package is = %f" %(name,age1,salary))

#format method
print("my name is  {} ,my age is {} ,and my package is = {}" .format(name,age1,salary))

#fstring

print(f"my name is  {name} ,my age is {age1} ,and my package is = {salary}" )


#string format ---- dynamic

#old
print("my name is = %s ,my age is= %d ,and my package is = %f" %(name2,age2,salary2))

#format method
print("my name is  {} ,my age is {} ,and my package is = {}" .format(name2,age2,salary2))

#fstring

print(f"my name is  {name2} ,my age is {age2} ,and my package is = {salary2}" )

name2 =jhksfk
age2 45
salary2 =65465.5
my name is = kick  ,my age is 31 ,and my package is = 12.500000
my name is  kick  ,my age is 31 ,and my package is = 12.5
my name is  kick  ,my age is 31 ,and my package is = 12.5
my name is = jhksfk ,my age is= 45 ,and my package is = 65465.500000
my name is  jhksfk ,my age is 45 ,and my package is = 65465.5
my name is  jhksfk ,my age is 45 ,and my package is = 65465.5

In [23]:
##string functions 

#len,lower,upper,replace,strip,split,join

str1 = 'hello moto'
print(len(str1))

#print(str1.upper())

str2 =str1.lower()
print(str2)

str3 =str1.upper()
print(str3)

str4 = str1.replace("moto" , "samsung")
print(str4)


str5 =  "   remove white spaces  "
print(str5) #before removal
str6 = str5.strip()
print(str6) #after removal

str7 = "1kjhsdj 2fjkshdjkfh 3kjhfjh 4jnjkbvn 5sad"
str8 = str7.split()
print(str8)
str9 =" ".join(str8)
print(str9)

#but in join the syntax is somewhat different ie..
# "any_character/white space".join(...words to join/ string name.....)

10
HELLO MOTO
hello moto
HELLO MOTO
hello samsung
   remove white spaces
remove white spaces
['1kjhsdj', '2fjkshdjkfh', '3kjhfjh', '4jnjkbvn', '5sad']
1kjhsdj 2fjkshdjkfh 3kjhfjh 4jnjkbvn 5sad