# string formats using static and dynamic input

In [9]:
#static input --string formats (3)
name1 = 'raj'
age1 = 21
name2 = 'rajesh'
age2 = 22
name3 = 'rohith'
age3 = 23
#old style 
print("my name is %s and my age is %d" %(name1,age1))

#format method
print("my name is {} and my age is {}" .format(name2,age2))

#string interpolation
print(f"my name is {name3} and my name is {age3}")

my name is raj and my age is 21
my name is rajesh and my age is 22
my name is rothith and my name is 23

In [2]:
name= input("name =")

name =bhuvan

In [3]:
print(name)

bhuvan

In [4]:
#dynamic input --string formats (3)
name1 = input("what is your name1:")
age1 = int(input("what is yout age1:"))
name2 = input("what is your name2:")
age2 = int(input("what is yout age2:"))
name3 = input("what is your name3:")
age3 = int(input("what is yout age3:"))

#old style 
print("my name is %s and my age is %d" %(name1,age1))

#format method
print("my name is {} and my age is {}" .format(name2,age2))

#string interpolation
print(f"my name is {name3} and my name is {age3}")

what is your name1:bhuvan_raj
what is yout age1:21
what is your name2:harsha
what is yout age2:22
what is your name3:nikith
what is yout age3:23
my name is bhuvan_raj and my age is 21
my name is harsha and my age is 22
my name is nikith and my name is 23

In [8]:
# some random data types
salary1= float(input("what is your salary:"))
salary1
print("my salary is %f" %salary1)
print("my salary = {}" .format(salary1))
print(f"my salary = {salary1}")

what is your salary:100.4
my salary is 100.400000
my salary = 100.4
my salary = 100.4